@import "tailwindcss";


/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@font-face {
  font-family: "Kinasha";
  src: url("/Fonts/kinasha.otf") format("opentype"); 
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/Fonts/play.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



h1 {
  font-family: "Kinasha", sans-serif; 
}

p,h2,h3 {
  font-family: "Roboto", serif; 
}

span {
  font-family: "Roboto", serif; 
}
